/* app.component.css */
.background-container {
    height: 100vh; /* Ajusta a altura para 100% da viewport */
    background-image: url('/src/assets/bg.jpg'); /* Caminho para a imagem de background */
    background-size: cover; /* Faz a imagem cobrir toda a área */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
  }