<div class="background-container">
  <form class="form-class">
    <label class="label-login">Login</label>
    <div class="div-email">
      <label class="label-email">Email</label>
      <input class="input-email" >
    </div>
    <div class="div-pwd">
      <label class="label-pwd">Senha</label>
      <input type="password" class="input-pwd" >
    </div>
    <div class="div-button">
      <button class="btn-entrar">Entrar</button>
    </div>
  </form>
  <router-outlet></router-outlet>
</div>
