/* Remove margens e paddings do html e body */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* Garante que o elemento principal do Angular ocupe toda a altura e largura */
app-root {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.background-container {
    height: 100vh;
    background-image: url('./app/assets/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0; /* Remove qualquer margem adicional */
    padding: 0; /* Remove qualquer padding adicional */
}